.button {
    background: #483F98;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 10px;
    min-width: 180px;
}

.button__white {
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #483F98;
    outline: none;
    border: none;
    padding: 10px;
    min-width: 180px;
}