* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    color:#000;
    text-decoration: none;
}

h4 {
    text-align: center;
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: #ebeffd;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -8px 8px 0px rgba(34, 60, 80, 0.2);
    z-index: 9;

    .header__element {
        cursor: pointer;
        border-radius: 25px;
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: center;

        svg {
            width: 30px;
            height: 30px;
            
            path {
                fill: #483F98;
            }
        }
        &:hover {
            background-color: #483F98;

            svg path {
                fill: #fff;
            }
        }

        &.active {
            background-color: #483F98;

            svg path {
                fill: #fff;
            }
        }
    }
}

.header_top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #ebeffd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 99;

    span {
        font-size: 16px;
        text-transform: uppercase;
        color: #483F98;
        margin: 0 auto;
    }

    svg {
        fill: #483F98;
        cursor: pointer;
    }
}

.main, .profile {
    padding: 5px;
}

.main {
    height: calc(100vh - 55px);
    overflow-y: scroll;
    border-radius: 25px;
    padding-top: 65px;
    padding-bottom: 80px;
}

.products__main {
    background: linear-gradient(342deg, rgba(72,63,152,1) 0%, rgba(105,173,209,1) 100%);
    min-height: 100vh;
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 0 25px 25px;
        padding: 0;
        
        .product__main {
            height: 60vh;
            padding: 5px;
        }

        .products__head {
            background: #483F98;
            padding: 20px 5px;
            padding-top: 5px;
            margin-bottom: 10px;
            border-radius: 0 0 30px 30px;

            h3 {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                margin: 0;
                text-transform: uppercase;
            }

            span {
                display: block;
                color: #fff;
                font-size: 16px;
                margin: 10px 0;
                max-width: 250px;
                text-align: left;
            }

            .products__head_group {
                display: flex;
                align-items: center;

                img {
                    max-width: 40%;
                    object-fit: contain;
                }
            }

            .products__head_buttons {
                display: flex;
                justify-content: center;
                gap: 10px;

                button {
                    min-width: auto;
                }
            }
        }
    }
}

.cart__page {
    position: relative;
    background: linear-gradient(342deg, rgba(72,63,152,1) 0%, rgba(105,173,209,1) 100%);
    min-height: 100vh;
    height: 100vh;
    .course-name {
        text-transform: uppercase;
    }
    .main {
        height: calc(100vh - 100px);
    }
}

.like__page {
    background: linear-gradient(342deg, rgba(72,63,152,1) 0%, rgba(105,173,209,1) 100%);
    min-height: 100vh;
    height: 100vh;
}

.like, .cart {
    padding: 10px;
    padding-top: 70px;
}

.login__main {
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #d0b8a8d1;
    border-radius: 15px;
    gap: 5px;

    img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-top: -60px;
    }

    .buttons {
        display: flex;
        gap: 5px;
        margin-top: 20px;
    }
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    height: calc(100vh - 80px);
}

.product__element {
    width: calc(50% - 5px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    height: 365px;

    .removeButton {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9;
        background-color: #ffffffaf;
        border-radius: 15px;
    }

    img {
        min-height: 170px;
        height: 170px;
        max-height: 170px;
        object-fit: contain;
    }

    .product__info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        max-height: 180px;
    }

    .product__title {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .product__description {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .price {
        margin-top: -48px;
        padding: 10px;
        background-color: #483f98b3;
        color: white;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .icons {
        display: flex;
        justify-content: space-between;

        svg {
            fill: #483F98;
        }
    }
}

.profile {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background: linear-gradient(180deg, rgba(72,63,152,1) 0%, rgba(105,173,209,1) 100%);

    h3 {
        margin-top: 0;
        text-align: center;
    }
    
    .profile__creating {
        background-color: #fff;
        padding: 25px;
        border-radius: 25px;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;
        box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    }
    .MuiInputBase-root input {
        padding: 5.5px 10px;
    }
    .MuiTabPanel-root {
        padding: 24px 0;
        .cart__page {
            min-height: auto;
            padding: 0;
            .course-stats {
                display: block;
            }
            .course-tags {
                display: none;
            }
            .course-description {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .RaitingDoughnut {
        position: relative;
        margin-top: 20px;
        .rating {
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 72px;
        }
    }
}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;

    span {
        font-size: 24px;
        font-weight: bold;
    }
}

.course-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #483F98;
  }
  
  .course-image {
    width: 100%;
    height: 250px;
    border-bottom: #fff solid 2px;
  }
  
  .course-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .course-details {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .course-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #ebeffd;
  }
  
  .course-price {
    font-size: 18px;
    font-weight: bold;
    color: #ebeffd;
    margin-bottom: 10px;
  }
  
  .course-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .tag {
    background-color: #ebeffd;
    color: #483F98;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .course-description {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  
  .course-stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
  }

  .course-views {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .course-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 3;
  }
  
  .profile__users {
      input {
        color: #fff
      }
      h4 {
        color: #fff;
        margin: 0;
        margin-bottom: 20px;
      }

      label {
        color: #fff;
      }

      fieldset {
        border-color: #fff;
      }
  }

  .profile__most_products {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .profile__most_element {
        width: calc(50% - 5px);
        height: 300px;
        border-radius: 15px;

        .swiper {
            overflow: visible;
        }

        .product__element {
            height: 300px;
            width: 100%;
            .product__info {
                height: auto;
                gap: 5px;
            }
            .product__description {
                display: none;
                height: 0;
            }
        }

        .profile__most_cart {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 300px;
            border-radius: 15px;
            padding: 20px;
            color: #fff;
            
            h4 {
                margin: 0;
            }

            span {
                text-align: center;
            }
        }
    }
  }

  .profile__statistic_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

    .profile__statistic_element {
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        color: #fff;

        span {
            font-size: 14px;
        }

        .count {
            font-size: 22px;
            font-weight: bold;
        }
    }
  }